@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background-color: #010B09;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-fill-mode: both;
}

